* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

h1, h2 {
  color: #333333;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #003988;
  color: white;
  border: 1px solid #003988;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #145f9c;
  border-color: #145f9c;
}

.btn--alt {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #545454;
  color: white;
  border: 1px solid #545454;
  margin: 0 1rem;
}

.btn--alt:hover {
  background-color: #919191;
  border-color: #919191;
}

.card {
  flex-direction: row;
  flex-grow: 4;
  justify-content: flex-start;
  flex-flow: column-wrap;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 100%;
}

.actions {
  text-align: left;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
table, th, td {
  border: 1px solid;
}